body {
     margin: 0;
 padding: 0;
 font-family: Arial, sans-serif;
 background-color: #011740;
}

.container {
display: flex;
 justify-content: space-around; align-items:right;
height: 100vh;
}

.left {
 text-align: center;
color: white;
}

.right {
     text-align: center;
}

input {
 width: 60%;
 padding: 10px;
 margin: 10px 0;
}
button {
     padding: 10px 20px;
     background-color: #fff;
     color: #011740;
     border: none;
     cursor: pointer;
    }
    
    img {
     width: 55%;
    }